body {
    overflow-x: hidden;
    }

    .row{
        background-color: rgba(0, 0, 0, 0.02);
      }
      #imagen{
        height: 100vh;
        background: url(assets/back.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.9;
      }
      #info{
        height: 100vh;
        overflow-y: auto;
      }
      @media only screen and (max-width: 576px){
        #info{
          height: 100%;
          overflow-y: visible; 
        } 
      }
      h1,h3{
        font-family: 'Saira Extra Condensed', serif;
        font-weight: 700;
        text-transform: uppercase;
        color:#404040;
      }
      h1 {
        font-size: 6rem;
        line-height: 5.5rem; 
      }
      
      a{color: #65cde3;}
      a:hover{color: #0f61a0;}
      
      /* social ***** */
      .list-social-icons a {color: #404040;}
      .list-social-icons a:hover {color: #65cde3;}
      .list-social-icons a .fa-lg {font-size: 1.75rem;}
      
      /* tools ***** */
      .list-tools-icons {
        color: #808080;
        font-size: 2.50rem; 
      }
      .list-tools-icons i:hover {color: #65cde3;}  