  <div class="row justify-content-center">
    <div class="col-2 d-none d-sm-block" id="imagen">
    </div>
    <div class="col-10" id="info">
      <section id="about">
        <div>
          <!-- NAME ***** -->
          <h1 class="mb-0 mt-5">JESÚS TORRES</h1>
          <h3 class="mb-3">web developer</h3>
          <p class="lead mb-5">I like to learn new technologies and share my knowledge... To know more about me go to my <a href="www.google.com">BLOG</a> or contact me through my networks.</p>
          <!-- SOCIAL ***** -->
          <h3 class="mb-2">Social</h3>
          <ul class="mb-5 list-inline list-social-icons">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/jesustorres38/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/jesustorres38" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
                <a href="http://www.ejdp.co.ve/Profile/index.html" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/jesustorres38/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            
          </ul>
          <!-- TOOLS ***** -->
          <h3 class="mb-2">tools</h3>
          <ul class="list-inline list-tools-icons">
              <li class="list-inline-item">
                <i class="devicon-html5-plain"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-css3-plain"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-javascript-plain"></i>
              </li>
              <li class="list-inline-item">
                <i class="devicon-bootstrap-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-angularjs-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-git-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-github-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-nodejs-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-typescript-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-visualstudio-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-webpack-plain"></i>
              </li>
              <li class="list-inline-item">
                  <i class="devicon-photoshop-plain"></i>
              </li>            
            </ul>
          </div>
      </section>
    </div>
  </div>
  