  <div class="row justify-content-center my-5">
    <div class="col-12 col-md-3 d-none d-sm-block" id="imagen">
      <!-- <img src="./assets/pic.jpg" class="img-fluid" alt="Responsive image">             -->
    </div>
    <div class="col-12 col-md-9" id="info">
        <section class=" d-flex d-column" id="about">
            <div class="my-auto">
              <h1 class="mb-0">Clarence
                <span class="text-primary">Taylor</span>
              </h1>
              <div class="subheading mb-5">3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
                <a href="mailto:name@email.com">name@email.com</a>
              </div>
              <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
              <ul class="list-inline list-social-icons mb-0">
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
              </ul>
      
                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline list-icons">
                  <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicon-amazonwebservices-original"></i>
                  </li>
                  <li class="list-inline-item">
                      <i class="devicon-angularjs-plain"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-sass"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-less"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-bootstrap"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-wordpress"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-grunt"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-gulp"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-npm"></i>
                  </li>
                </ul>
              </div>
          </section>
    </div>
  </div>
  